In [1]:
import yfinance as yf

In [2]:
tsla = yf.Ticker("TSLA")

In [3]:
# 기업 정보 가져오기
info = tsla.info

# 일부 중요한 정보 출력
print("회사명:", info['longName'])
print("업종:", info['sector'])
print("사업 설명:", info['longBusinessSummary'])
print("현재 가격:", info['currentPrice'])

회사명: Tesla, Inc.
업종: Consumer Cyclical
사업 설명: Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits; and non-warranty after-sales vehicle, used vehicles, body shop and parts, supercharging, retail merchandise, and vehicle insurance services. This segment also provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; purchase financing and leasing services; services for electric vehicles through its company-owned service locations and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners; and provision of service and repairs to its energy product customers, including under warranty, as well as various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was incorporated in 2003 and is headquartered in Austin, Texas.
현재 가격: 227.2

In [4]:
tsla_df = tsla.history(interval='1d', period='5d', auto_adjust=False)
tsla_df

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2024-09-12 00:00:00-04:00,224.660004,231.449997,223.830002,229.809998,229.809998,72020000,0.0,0.0
2024-09-13 00:00:00-04:00,228.000000,232.669998,226.320007,230.289993,230.289993,59515100,0.0,0.0
2024-09-16 00:00:00-04:00,229.300003,229.960007,223.529999,226.779999,226.779999,54323000,0.0,0.0
2024-09-17 00:00:00-04:00,229.449997,234.570007,226.550003,227.869995,227.869995,66761600,0.0,0.0
2024-09-18 00:00:00-04:00,230.089996,235.679993,226.880005,227.199997,227.199997,77742000,0.0,0.0

In [5]:
news = tsla.news

# 최근 뉴스 출력
for item in news:
    print(item['title'], "-", item['publisher'], "-", item['link'])

Dow Jones Futures Rise After Stock Market Falls Following Big Fed Rate Cut; What To Do Now - Investor's Business Daily - https://finance.yahoo.com/m/f96bcb1a-58f3-3e8e-a98a-e014e296338b/dow-jones-futures-rise-after.html
How interest rate cuts will impact vehicle sales, auto loans - Yahoo Finance Video - https://finance.yahoo.com/video/interest-rate-cuts-impact-vehicle-205354559.html
These Stocks Moved the Most Today: Intuitive Machines, Super Micro, Boeing, VF Corp., ResMed, General Mills, and More - Barrons.com - https://finance.yahoo.com/m/aaa3b566-4045-387a-af16-30ef061da446/these-stocks-moved-the-most.html
Tesla Stock Gains. What History Says Happens on Fed Day. - Barrons.com - https://finance.yahoo.com/m/cc3f7b6d-8ab7-3b33-bf34-caef7f910592/tesla-stock-gains.-what.html
GM electric vehicles now have access to Tesla Superchargers - Yahoo Finance Video - https://finance.yahoo.com/video/gm-electric-vehicles-now-access-200745077.html
What Investors Need To Know Ahead Of The Tesla Robotaxi Event - Investor's Business Daily - https://finance.yahoo.com/m/03c2a4cd-780d-3f1c-ab64-4c44a1687e72/what-investors-need-to-know.html
Magnificent Seven Stocks: Nvidia Stock Slides; Apple Rallies - Investor's Business Daily - https://finance.yahoo.com/m/4205eaa9-f620-3a0b-a81a-0e82c7c9fd0b/magnificent-seven-stocks%3A.html
AI & Space Stocks: Two Megatrends to Ride Over the Next Decade - Zacks - https://finance.yahoo.com/news/ai-space-stocks-two-megatrends-181500781.html